[package]
name = "datadog-serverless-compat"
version = "0.1.0"
edition.workspace = true
license.workspace = true
description = "Binary to run trace-agent and dogstatsd servers in Serverless environments"

[features]
default = []
# Enable Windows Named Pipes support for both trace agent and dogstatsd.
# Only needed for Windows environments.
windows-pipes = ["datadog-trace-agent/windows-pipes", "dogstatsd/windows-pipes"]

[dependencies]
datadog-trace-agent = { path = "../datadog-trace-agent" }
libdd-trace-utils = { git = "https://github.com/DataDog/libdatadog", rev = "660c550b6311a209d9cf7de762e54b6b7109bcdb" }
dogstatsd = { path = "../dogstatsd", default-features = true }
tokio = { version = "1", features = ["macros", "rt-multi-thread"] }
tokio-util = { version = "0.7", default-features = false }
tracing = { version = "0.1", default-features = false }
tracing-subscriber = { version = "0.3", default-features = false, features = [
    "std",
    "registry",
    "fmt",
    "env-filter",
    "tracing-log",
] }
zstd = { version = "0.13.3", default-features = false }

[[bin]]
name = "datadog-serverless-compat"
