[package]
name = "datadog-trace-agent"
version = "0.1.0"
license.workspace = true
edition.workspace = true

[lib]
bench = false

[dependencies]
anyhow = "1.0"
hyper = { version = "1.6", features = ["http1", "client", "server"] }
hyper-http-proxy = { version = "1.1.0", default-features = false, features = [
    "rustls-tls-webpki-roots",
] }
hyper-util = { version = "0.1", features = ["service"] }
http-body-util = "0.1"
thiserror = { version = "1.0", default-features = false }
tokio = { version = "1", features = ["macros", "rt-multi-thread"] }
async-trait = "0.1.64"
tracing = { version = "0.1", default-features = false }
serde = { version = "1.0.145", features = ["derive"] }
serde_json = "1.0"
libdd-common = { git = "https://github.com/DataDog/libdatadog", rev = "774f830c7ffa62122a2cf8f3eae8c64a3ca5a8d7" }
libdd-trace-obfuscation = { git = "https://github.com/DataDog/libdatadog", rev = "774f830c7ffa62122a2cf8f3eae8c64a3ca5a8d7" }
libdd-trace-protobuf = { git = "https://github.com/DataDog/libdatadog", rev = "774f830c7ffa62122a2cf8f3eae8c64a3ca5a8d7" }
libdd-trace-utils = { git = "https://github.com/DataDog/libdatadog", rev = "774f830c7ffa62122a2cf8f3eae8c64a3ca5a8d7", features = [
    "mini_agent",
] }
libdd-trace-stats = { git = "https://github.com/DataDog/libdatadog", rev = "774f830c7ffa62122a2cf8f3eae8c64a3ca5a8d7" }

[dev-dependencies]
rmp-serde = "1.1.1"
serial_test = "2.0.0"
duplicate = "0.4.1"
tempfile = "3.3.0"
libdd-trace-utils = { git = "https://github.com/DataDog/libdatadog", rev = "774f830c7ffa62122a2cf8f3eae8c64a3ca5a8d7", features = [
    "test-utils",
] }
